<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>home</h1>
    <button  id="logout" onclick=logoutfn()>logout</button>
    <script>
        // import express from "express"
        const logoutbtn = document.querySelector("#logout")
        function logoutfn(){
            location.assign("/login");
        }
        
    </script>
</body>
</html>